@import url("https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=Google+Sans+Code:wght@470&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

@import "tailwindcss";

@theme {
    --font-inter: "Inter", sans-serif;
    --font-bbh: "Space Grotesk", sans-serif;
}

html {
    scroll-padding-top: 50px;
    scroll-behavior: smooth;
}
